
/* 按钮 */
.captcha-btn
  background $default !important
  border 1px solid $default !important
  color $white !important
.submit-btn
  width 100%
.input-text-button-btn
  color $default
/* 表单 */
.custom-van-form
  .van-cell::after
    left 0 !important
    right 0 !important
.custom-block-input
  padding var(--van-cell-vertical-padding) 0 !important
  display block !important
