
/* 按钮 */
.captcha-btn
  background $default !important
  border 1PX solid $default !important
  color $white !important
.submit-btn
  width 100%
.input-text-button-btn
  color $default
.custom-info-btn
  color $white !important
  background $background-info !important
  border 1PX solid $background-info !important
/* 表单 */
.custom-van-form
  .van-cell::after
    left 0 !important
    right 0 !important
.custom-block-input
  padding var(--van-cell-vertical-padding) 0 !important
  display block !important
/* 单选组 */
.custom-radio-group
  display flex
  align-items center
  .van-radio:not(:last-child)
    margin-right var(--van-padding-md)
