
/* 按钮 */
.captcha-btn
  background $primary !important
  border 1px solid $primary !important
  color $white !important
.submit-btn
  width 100%
/* 表单 */
.custom-van-form
  .van-cell::after
    left 0 !important
    right 0 !important
.custom-block-input
  padding var(--van-cell-vertical-padding) 0 !important
  display block !important
.custom-input-submit-button
  .van-field__value
    padding 16px 0 0 0 !important
