// 全局变量提升
:root:root
  --van-base-font 'osFont'
// 主题颜色
$white = #FFFFFF
// $primary = #4C5F99
$primary = #173061
$default = #4C5F99
$tips = #CCCCCC
$background-default = #F1F1F1
$background-primary = #132B5B
$background-primary-0 = #0F264F
$background-main = #4C5F99
