.c-select
  font-weight bold
  :deep(.u-popup)
    font-weight bold
    .u-transition
      height 500px
      .u-popup__content
        .title
          border-bottom 2rpx solid #f7f7f7
          padding 20rpx
          text-align center
          font-weight bold
        .select-box
          .scroll-Y
            height 800rpx
        .bottons
          background-color white
          position fixed
          left 0
          bottom 0
          right 0
          bottom constant(safe-area-inset-bottom)
          bottom env(safe-area-inset-bottom)
