@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin flexAlignStart {
  display: flex;
  align-items: flex-start;
}

@mixin flexAlignStartCenter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin flexJustifyCenter {
  display: flex;
  justify-content: center;
}

@mixin flexJustifyStart {
  display: flex;
  justify-content: flex-start;
}

@mixin flexJustifyEnd {
  display: flex;
  justify-content: flex-end;
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexColumnCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin textEllipsis1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin textEllipsis2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin textNowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
