.layoutMain
  padding-top 120rpx
  .mainContainer
    padding 0 25rpx
    .serviveMain
      height calc(100% + 100rpx)
      background-color #FFFFFF
      border-left 2rpx solid $info-btn
      border-right 2rpx solid $info-btn
      box-shadow 0 0 13px 0 #4285f61c
      border-radius 12rpx 12rpx 0 0
      position relative
      top -100rpx
      .topTab
        min-height 200rpx
        background-image linear-gradient(to bottom, #FFFFFF, #EAEEFA)
        border-radius 12rpx
        display flex
        align-items center
        justify-content center
        .tabItem
          width 25%
          padding 0 10rpx
          box-sizing border-box
          text-align center
          .iconBox
            width 64rpx
            height 64rpx
            border-radius 50%
            background $info-btn
            margin 0 auto
            .iconfont
              color $text-main
              font-size 14px
          view
            font-size 16px
            font-weight 600
          &.hover
            view
              color $background-main
              font-size 17px
            .iconBox
              background-image linear-gradient(to top, #4C5F99, #132B5B)
              .iconfont
                background-image linear-gradient(to top, #F9EBB0, #F2D279)
                -webkit-background-clip text
                color transparent
        :deep(.u-tabs__wrapper__scroll-view-wrapper)
          width 100%
        :deep(.u-tabs__wrapper__nav__item__text)
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
      .scrollContent
        height calc(100% - 200rpx)
        padding-top 50rpx
        box-sizing border-box
        .scroll-view
          height 100%
          .content
            padding 50rpx
            padding-top 0
