.table-data
  background #fff
  border-radius 16rpx
  margin 0 40rpx 28rpx 40rpx
  padding 24rpx 32rpx
  box-shadow 0px 10px 10px 0px rgba(0, 0, 0, 0.05)
  .c-table-header
    border-bottom 2rpx dashed #E6E6E6
