.c-filter-search
  width 100%
  position absolute
  top 0
  z-index 9
  .filter-wrap
    width 68%
    padding 0 12px
    display flex
    align-items center
    justify-content flex-start
    .icon-jiantou-zuo
      padding 0 24rpx 0 0
    :deep(.up-input)
      width 100%
      display flex
      align-items center
      justify-content center
      .u-input
        height 63rpx
        padding 0 !important
        border none !important
        background rgba(255, 255, 255, 0.1)
        .u-input__content__prefix-icon
          .search-picker
            padding 0 18rpx 0 28rpx
            background rgba(255, 255, 255, 0.1)
            border-radius 32rpx 0 0 32rpx
            display flex
            align-items center
            justify-content center
            .suffix-right
              padding 0 8rpx 0 0
              background rgba(255, 255, 255, 0.9)
              background-clip text
              -webkit-background-clip text
              -webkit-text-fill-color transparent
              font-size 26rpx
              display inline-block
            .icon-arrow-down
              display inline-block
        .u-input__content__field-wrapper
          .u-input__content__field-wrapper__field
            color #FFFFFF !important
        .u-input__content__subfix-icon
          padding 0 24rpx 0 12rpx
