.page-view
  image-rendering -moz-crisp-edges
  image-rendering -o-crisp-edges
  image-rendering -webkit-optimize-contrast
  image-rendering crisp-edges
  -ms-interpolation-mode nearest-neighbor
.main-wrap
  position relative
  height calc(100% - 155rpx)
  padding 155rpx 0 0 0
  box-sizing content-box
  background transparent
  .logo-box
    position absolute
    top 28rpx
    left 50%
    transform translate(-50%, 0)
    padding 28rpx 42rpx
    background #FFFFFF
    border 8rpx solid #FCE18C
    border-radius 36rpx
    display flex
    align-items center
    justify-content center
    z-index 9
    & > image
      width 114rpx
      height 141rpx
  .scroll-main
    height 100%
    background #F1F1F1
    display flex
    justify-content center
    .scroll-view
      position relative
      top -28rpx
      width calc(100% - 64rpx)
      display flex
      flex-direction column
      align-items center
      overflow-x hidden
      overflow-y auto
      box-sizing border-box
      background #FFFFFF
      border-radius 16rpx
      padding 120rpx 0 0 0
      .container
        width 100%
        height 100%
        display flex
        flex-direction column
        .register-wrap
          padding 48rpx 48rpx 24rpx 48rpx
          /deep/ .u-form-item
            .u-form-item__body
              padding-bottom 40rpx
              .u-form-item__body__right
                .u-form-item__body__right__content
                  .u-form-item__body__right__content__slot
                    line-height 24rpx
                    .u-input
                      .u-input__content__subfix-icon
                        .suffix-right
                          color $text-main
                          font-size 28rpx
                    .c-column-select
                      position relative
                      .suffix-right
                        position absolute
                        right 0
                        top 40rpx
                        color $text-main
                        font-size 28rpx
        .c-footer
          flex 1
          width 100%
          padding 32rpx 32rpx 0 32rpx
          background #F1F1F1
          box-sizing border-box
          .header-tips
            .txt
              color #898989
          .footer-tips
            padding 48rpx 0 0 0
            text-align center
            .txt
              color #898989