.page-wrap
  background $background-primary-0
  .content-wrap
    flex 1
    background #FFFFFF
    border-radius 18px 18px 0 0
    .operation-btn
      padding 32px 16px
      .van-button:not(:last-child)
        margin 0 0 16px 0
