.page-view
  position relative
.main-box
  height 100%
  .scroll-view
    width 100%
    height 100%
    display flex
    flex-direction column
    .scroll-box
      height calc(100% - 42rpx)
      .carousel-container
        width 100%
      .page-content
        position relative
        // bottom 42rpx
        bottom 52rpx
        border-radius 30rpx 30rpx 0 0
        background linear-gradient(180deg, #FFFFFF, #ECECEC)
        .common-services
          padding 24rpx 48rpx 12rpx 48rpx
          display flex
          justify-content space-around
          .services-item-box
            display flex
            flex-direction column
            align-items center
            justify-content center
            .icon
              width 56rpx
              height 52rpx
            .title
              font-weight bold
        .hot-recommendation
          position relative
          padding 0 24rpx
          .custom-product-header
            image-rendering -moz-crisp-edges
            image-rendering -o-crisp-edges
            image-rendering -webkit-optimize-contrast
            image-rendering crisp-edges
            -ms-interpolation-mode nearest-neighbor
            .c-handle-box
              .c-title
                color #FFFFFF
          .product-box
            padding 36rpx 0 !important
            .product-header
              padding 0 48rpx 0 36rpx
              justify-content space-between
              .product-title
                padding 0 !important
              .img-logo
                width auto !important
                height 32rpx !important
                border none !important
                image
                  height 100% !important
            .product-content
              padding 0 48rpx 0 36rpx !important
            .product-footer
              padding 12rpx 18rpx
              .operation-box
                width 48%
                height 78rpx
                display flex
                align-items center
                justify-content center
                border-radius 45rpx
          /deep/ .indicator
            bottom 32rpx !important
        .main-type-product
          padding 0 24rpx
          margin 28rpx 0 42rpx 0
          .main-product-module
            background #FFFFFF
            box-shadow 0 6rpx 18rpx 0 rgba(25, 50, 100, 0.102)
            border-radius 20rpx
            .custom-tab-wrap
              padding 0 24rpx
              border-bottom 4rpx solid #EDEDED
              :deep(.u-tabs__wrapper__nav__line)
                bottom 0 !important
            .main-product-wrap
              position relative
              .main-product-box
                height 100%
                padding 36rpx 36rpx 62rpx 36rpx !important
                box-sizing border-box
                display flex
                justify-content space-between
                .main-product-card
                  width 48%
                  height 100%
                  padding 24rpx 28rpx
                  box-shadow 0 0 18rpx 0 #0000001a
                  box-sizing border-box
                  border-radius 16rpx
                  display flex
                  flex-direction column
                  align-items center
                  justify-content space-around
                  .main-product-header
                    flex none
                    width 210rpx
                    height 90rpx
                    padding 6rpx 12rpx
                    border-bottom 2rpx solid #EDEDED
                    display flex
                    align-items center
                    justify-content center
                    .img-logo
                      width 80%
                  .main-product-content
                    width 100%
                    padding 24rpx 0
                    display flex
                    align-items center
                    justify-content center
                    flex-direction column
                    line-height 54rpx
                    .product-title
                      width 100%
                      font-weight bold
                      text-align center
                    .rate-range-box
                      color #EF3737
                      font-weight bold
              .indicator
                bottom 25rpx !important
            .no-data-view
              padding 50rpx
        .service-zone-container
          padding 0 24rpx
          margin 28rpx 0 42rpx 0
          display flex
          align-items center
          justify-content center
          .zone-img
            width 100%
        .statistics-container
          padding 0 24rpx
          .statistics-main
            height 420rpx
            margin 15rpx 0 36rpx 0
            display flex
            flex-direction column
            justify-content space-between
            image-rendering -moz-crisp-edges
            image-rendering -o-crisp-edges
            image-rendering -webkit-optimize-contrast
            image-rendering crisp-edges
            -ms-interpolation-mode nearest-neighbor
            .explain-container
              width 100%
              height 35%
              padding 0 24rpx 0 48rpx
              box-sizing border-box
              display flex
              align-items center
              justify-content space-between
              .explain-logo
                width 50%
                height 50%
                image-rendering -moz-crisp-edges
                image-rendering -o-crisp-edges
                image-rendering -webkit-optimize-contrast
                image-rendering crisp-edges
                -ms-interpolation-mode nearest-neighbor
              /deep/ u-button
                .u-button
                  height 55rpx !important
                  padding 0 21rpx 0 31rpx !important
                  background rgba(255, 255, 255, 0.2) !important
                  border none
                  .txt
                    font-size 24rpx
                    color #FFFFFF
                    opacity 0.8
                  .u-icon
                    .u-icon__icon
                      position relative
                      left 4rpx !important
                      color #FFFFFF !important
                      opacity 0.8
                      font-size 28rpx !important
            .c-line
              width 100%
              height 2rpx
              background rgba(255, 255, 255, 0.1)
            .statistics-data
              height 65%
              padding 24rpx 48rpx 36rpx 48rpx
              display flex
              flex-wrap wrap
              overflow hidden
              .stats-box
                width calc((100% / 3))
                line-height 38rpx
                display flex
                flex-direction column
                justify-content center
                .value
                  color #F5DE92
                  font-size 34rpx
                  font-weight bold
                .label
                  color $text-tips
                  font-size 24rpx
              .stats-box:nth-child(2)
                width calc((100% / 3) * 2) !important
/* #ifdef H5 || MP-WEIXIN */
scroll-view ::v-deep ::-webkit-scrollbar
  display none
  width 0 !important
  height 0 !important
  -webkit-appearance none
  background transparent
/* #endif */
