.licenseConfirm
  display flex
  justify-content space-between
  align-items center
  .confirmMain
    display flex
    align-items center
    min-height 50px
    .iconfont
      color #4c5f99
    .disableColor
      color #cccccc !important
    .agreeItem
      margin 0 10rpx
    .downBtn
      display flex
      align-items center
      color #4c5f99
      margin-left 10rpx
  .uniscBox
    display flex
    line-height 36rpx
    margin-bottom 30rpx
    align-items center
    word-break break-all
    .label
      width 170rpx
      min-width 170rpx
      padding-right 20rpx
      box-sizing border-box
