.mainContainer
  padding-top 25rpx
  .scrollView
    height 100%
    .scrollItem
      border-radius 12rpx 12rpx 12rpx 12rpx
      box-shadow: 0 0 13rpx 0 #4285f61c
      border 1rpx solid #D5E6F6
      margin 25rpx
      margin-top 0
      padding 25rpx
      line-height 40rpx
      padding-bottom 0
      .topTitle
        border-bottom 1rpx solid #DADDE7
        margin-bottom 25rpx
      .bottomText
        position relative
        .icon-fangkuanzonge
          color #E5F0FF
          font-size 100rpx
          position absolute
          bottom 50rpx
          right 0
      .colItem
        width 100%
        display flex
        align-items center
        padding-bottom 25rpx
        .label
          color #909399
          min-width 150rpx
          text-align right
