.footer-box-wrap
  height 72px
  display flex
  align-items center
  justify-content space-between
  background #1B80D2
  padding 0 20px
  overflow hidden
  font-size 22px
  color #FFFFFF
  font-weight bold
