.layout-header
  width 100%
  height 72px
  padding 0 10%
  background #BCBCBC
  display flex
  justify-content center
  align-items center
  .logo-title
    font-size 28px
    font-weight bold
    letter-spacing 0px
    background-image linear-gradient(180deg, #FFFFFF 0%, #75D3FF 99.52%)
    color transparent
    background-clip text
  .menus-content
    flex 1
    padding 0 60px
    display flex
    align-items center
    justify-content space-around
    .menus-item
      font-size 16px
      font-weight 500
      color #FFFFFF
