.page-view
  image-rendering -moz-crisp-edges
  image-rendering -o-crisp-edges
  image-rendering -webkit-optimize-contrast
  image-rendering crisp-edges
  -ms-interpolation-mode nearest-neighbor
.main-wrap
  position relative
  height calc(100% - 155rpx)
  padding 155rpx 0 0 0
  box-sizing content-box
  background transparent
  .logo-box
    position absolute
    top 28rpx
    left 50%
    transform translate(-50%, 0)
    padding 28rpx 42rpx
    background #FFFFFF
    border 8rpx solid #FCE18C
    border-radius 36rpx
    display flex
    align-items center
    justify-content center
    z-index 9
    & > image
      width 114rpx
      height 141rpx
  .scroll-main
    height 100%
    background #F1F1F1
    display flex
    flex-direction column
    align-items center
    .scroll-view
      position relative
      top -28rpx
      width calc(100% - 64rpx)
      height auto
      // height calc(100% - 120rpx - 85rpx)
      display flex
      flex-direction column
      align-items center
      overflow-x hidden
      overflow-y auto
      box-sizing border-box
      background #FFFFFF
      border-radius 16rpx
      padding 120rpx 0 0 0
      .container
        width 100%
        padding 24rpx 48rpx
        box-sizing border-box
        .login-wrap
          .toggle-header
            display flex
            justify-content space-around
            font-size 32rpx
            font-weight bold
            .user-title
              color #CCCCCC
            .phone-title
              color #CCCCCC
            .active-login
              color #333333 !important
            .user-title:after
              content '|'
              position relative
              left 58rpx
              color #CCCCCC
          .login-form
            padding 24rpx 0 0 0
            /deep/ .u-form-item__body__right__content__slot
              line-height 24rpx
          .footer-opeartion
            .other-btn
              // padding 24rpx 0 0 0
              display flex
              justify-content space-between
              .text-btn
                color $text-main
      .c-footer
        width 100%
        padding 32rpx 48rpx 48rpx 48rpx
        background #F1F1F1
        box-sizing border-box
        .header-tips
          .txt
            color #898989
        .footer-tips
          padding 30rpx 0 0 0
          text-align center
          .txt
            color #898989