.page-wrap
  overflow hidden
  .system-header
    height 62px
    background-color $backgroundColor
  .system-container
    flex 1
    display flex
    .c-content-box
      flex 1
  .system-footer
    height 50px
    background-color $backgroundColor
