@use './common/commons.scss';
@use './components/common.scss';

html,
body {
  width: 100%;
  height: 100%;
  color: $colorDefault;
  line-height: 1.15;
}

#app {
  width: 100%;
  height: 100%;
  background: $backgroundDefault;
}
