// - 公用样式
@import './common/common'
html, body
  height 100%
  width 100%
  font-family Arial, sans-serif // ali-regular
  margin 0 auto
  overflow hidden
#app
  height 100%
  width 100%
  font-size 30px
  color #03091B
  background #DBE8FF
  touch-action none
#nprogress .bar
  height 2px !important
  background rgb(119, 182, 255) !important // 自定义颜色
html, body, p
  margin 0
  padding 0
ol, ul, li
  list-style none
