.c-footer-wrap
  line-height 52rpx
  text-align center
  .modules-container
    margin 0 0 24rpx 0
    .header-box
      display flex
      align-items center
      justify-content center
      .left
        width 60rpx
        height 4rpx
        background #909399
      .label
        padding 0 12rpx
        font-weight bold
      .right
        width 60rpx
        height 4rpx
        background #909399