@import './uview.styl'
@import './iconfont.styl'
.page-view
  width 100%
  height 100%
  margin 0 auto
  display flex
  flex-direction column
  overflow hidden
// 适配 iphone 底部刘海
.footer
  padding-bottom 0
  // IOS <11.2
  padding-bottom constant(safe-area-inset-bottom)
  // iso >11.2
  padding-bottom env(safe-area-inset-bottom)
  // 安全距离设置后，一定要设置背景，不然滚动的内容在下方可以看到
  background-color #fff
.icon-prefix
  width 58rpx
  height 58rpx
  display flex
  align-items center
  justify-content center
  background-repeat no-repeat
  background-position 50% 50%
  position absolute
  left 0
  top 44rpx
  background-size 68%
.icon-suffix
  width 189rpx
  height 82rpx
  display flex
  align-items center
  justify-content center
  background-repeat no-repeat
  background-position 100% 100%
  position absolute
  right 0
  top 40rpx
  background-size 100%
.icon-suffix-captcha
  display flex
  align-items center
  justify-content center
  position absolute
  right 0
  top 25rpx
  background-size 100%
  :deep(.u-button)
    width 208rpx !important
    height 80rpx !important
    color #6799FF !important
    font-weight 600
    font-size 28rpx !important
    background #FFFFFF
    border 2rpx solid #ADC8FF
    border-radius 16rpx
.icon-suffix-captcha-success
  display flex
  align-items center
  justify-content center
  position absolute
  right 0
  top -5rpx
  background-size 100%
  :deep(.u-button)
    width 305rpx !important
    height 112rpx !important
    color #6799FF !important
    font-weight 600
    font-size 28rpx !important
    background #FFFFFF
    border 2rpx solid #ADC8FF
    border-radius 16rpx
