:deep(.u-form)
  .u-form-item
    position relative
    .u-form-item__body
      padding-bottom 20px
      .u-form-item__body__right
        .u-form-item__body__right__content
          .u-form-item__body__right__content__slot
            .u-input
              .u-input__content__field-wrapper__field
                height 100rpx
                border-bottom 2rpx solid #DADDE7
                padding-left 70rpx
    .u-form-item__body__right__message
      margin-left 0 !important
      position absolute
      bottom 0
