:root {
  // 颜色
  --color-default: #323639;
  --color-primary: hsl(227.18deg 56.22% 54.31%);
  --color-success: #4ac497;
  --color-warning: #f1ac3b;
  --color-error: #cf4444;
  // 字体
  --font-size-xs: 12px;
  --font-size-small: 14px;
  --font-size-base: 16px;
  --font-size-large: 18px;
  // 边框
  --border-width: 1px;
  --border-setting-width: 1px;
  --border-setting-active-width: 2px;
  --border-color-default: #e4e4e7;
  // 圆角
  --border-radius-none: 0px;
  --border-radius-xs: 2px;
  --border-radius-sm: 6px;
  --border-radius-md: 10px;
  --border-radius-lg: 14px;
  --border-radius-default: 6px;
  // gap间距
  --gap-small: 8px;
  --gap-base: 16px;
  --gap-large: 24px;
  --gap-setting: 16px;
}

// 颜色
$colorDefault: var(--color-default);
$colorPrimary: var(--color-primary);
$colorSuccess: var(--color-success);
$colorWarning: var(--color-warning);
$colorError: var(--color-error);

// 字体
$xsFontSize: var(--font-size-xs);
$smallFontSize: var(--font-size-small);
$baseFontSize: var(--font-size-base);
$largeFontSize: var(--font-size-large);

// 边框
$borderWidth: var(--border-width);
$borderSettingWidth: var(--border-setting-width);
$borderSettingActiveWidth: var(--border-setting-active-width);
$borderColorDefault: var(--border-color-default);

// 圆角
$borderRadiusNone: var(--border-radius-none);
$borderRadiusXS: var(--border-radius-xs);
$borderRadiusSM: var(--border-radius-sm);
$borderRadiusMD: var(--border-radius-md);
$borderRadiusLG: var(--border-radius-lg);
$borderRadiusDefault: var(--border-radius-default);

// gap间距
$gapXS: var(--gap-small);
$gapSM: var(--gap-base);
$gapLG: var(--gap-large);
$gapSetting: var(--gap-setting);
