html {
  font-size: 100px;
}

@media (min-width: 828px) {
  body {
    width: 10rem;
    margin: 0 auto !important;
  }
}

.header {
  position: relative;
  padding-bottom: 0.5rem;
}

.logo {
  position: relative;
  padding-top: 0.4rem;
}

.logo p {
  font-weight: normal;
  font-size: 0.37rem;
  line-height: 0.37rem;
  text-align: center;
  color: #333333;
}

.logo i {
  position: absolute;
  left: 0.14rem;
  top: 0.44rem;
  width: 0.14rem;
  height: 0.28rem;
  background: url('../images/ehb_robot/jiantoublack.png') center center no-repeat;
  background-size: 100% 100%;
}
.content {
  background: #fafafa;
}
.option .title {
  font-size: 0.34rem;
  line-height: 0.6rem;
  text-align: center;
  color: #333333;
  font-weight: bold;
}
.option {
  padding: 0.3rem;
  padding-bottom: 0;
}
.option div {
  border-bottom: 1px solid #e5e5e5;
}
.option p {
  font-size: 0.24rem;
  line-height: 0.5rem;
  text-align: center;
  color: #8e8e8e;
  margin-bottom: 0.2rem;
}
.option .line {
  font-size: 0.16rem;
  line-height: 0.32rem;
  position: relative;
  bottom: 0.03rem;
  display: inline-block;
  margin: 0 0.3rem;
}
.article p {
  font-size: 0.3rem;
  line-height: 0.5rem;
  color: #333333;
  font-weight: 500;
  text-indent: 0.6rem;
}
.article img {
  max-width: 80%;
  display: block;
  margin: 0.2rem auto;
}
