html {
  font-size: 100px;
}

@media (min-width: 828px) {
  body {
    width: 100%;
    margin: 0 auto !important;
  }
}

.header {
  background: url('../images/ehb_ggfw/header_bg.png') bottom center no-repeat;
  height: 5.49rem;
  background-size: 100% 100%;
  position: relative;
}
.content {
  padding-bottom: 0.4rem;
}
.mb30 {
  margin-bottom: 0.3rem;
}
.mb40 {
  margin-bottom: 0.4rem;
}
.mb50 {
  margin-bottom: 0.5rem;
}
.logo {
  position: relative;
  padding-top: 0.4rem;
}

.logo p {
  font-weight: normal;
  font-size: 0.37rem;
  line-height: 0.37rem;
  text-align: center;
  color: #fff;
}

.logo i {
  position: absolute;
  left: 0.14rem;
  top: 0.44rem;
  width: 0.14rem;
  height: 0.28rem;
  background: url('../images/ehb_robot/jiantouwhite.png') center center no-repeat;
  background-size: 100% 100%;
}
.header .banner {
  width: 5.73rem;
  position: absolute;
  top: 1.7rem;
  left: 0.89rem;
}
.header .banner img {
  display: block;
  width: 100%;
}
.content {
  background: #a2cff6;
}
.grid h3 {
  font-size: 0.36rem;
  line-height: 0.7rem;
  height: 0.7rem;
  color: #081759;
  text-align: center;
  font-weight: bold;
  width: 3.6rem;
  background: url('../images/ehb_ggfw/h3_bg.png') center center no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 0.3rem;
}
.p1 {
  background: linear-gradient(to bottom, #2489ff 0.5rem, #a2cff6);
  position: relative;
  padding-top: 0.5rem;
}
.p1 ul {
  border-radius: 0.24rem;
  background: linear-gradient(135deg, #2644f3, #9ea4ff);
  box-shadow:
    0.06rem 0.08rem 0.1rem 0 #0000001a,
    0 0.03rem 0 0 #ffffffb3;
  padding: 0.4rem 0.3rem;
}
.p1 ul li {
  border-radius: 0.16rem 0.16rem 0.16rem 0.16rem;
  background: #f9fdff;
  box-shadow: 0 0.1rem 0.2rem 0 #5c18df80;
  margin-bottom: 0.3rem;
  position: relative;
  padding: 0.16rem 0.37rem 0.16rem 1.18rem;
}
.p1 ul li b {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.9rem;
  height: 100%;
  font-size: 0.28rem;
  line-height: 0.36rem;
  color: #4a58ad;
  border-radius: 0.16rem 0 0 0.16rem;
  background: #c1c9ff;
  text-align: center;
  padding: 0.32rem 0;
  letter-spacing: 0.03rem;
  display: flex;
  align-items: center;
}
.p1 ul li b.sj {
  background: #d2c7ff;
  color: #8b5da3;
}
.p1 ul li:last-child {
  margin-bottom: 0;
}
.p1 ul li a {
  font-size: 0.32rem;
  line-height: 0.48rem;
}
.p2 .p2cont,
.p3 .p3cont {
  border-radius: 0.24rem;
  background: linear-gradient(135deg, #2644f3, #9ea4ff);
  box-shadow:
    0.06rem 0.08rem 0.1rem 0 #0000001a,
    0 0.03rem 0 0 #ffffffb3;
  padding: 0.4rem 0.3rem;
}
.p2 .tab {
  text-align: center;
}
.p2 .tab a {
  font-size: 0.32rem;
  line-height: 0.32rem;
  color: #f9fdff;
  margin: 0 0.27rem;
  position: relative;
  padding-bottom: 0.28rem;
  display: inline-block;
  margin-bottom: 0.3rem;
  font-weight: bold;
}
.p2 .tab a.current:after {
  position: absolute;
  content: '';
  width: 0.64rem;
  height: 0.08rem;
  border-radius: 0.04rem 0.04rem 0.04rem 0.04rem;
  background: linear-gradient(to left, #fdd0ea, #cdfde6);
  left: 50%;
  margin-left: -0.32rem;
  bottom: 0;
}
.p2 .pane,
.p3 .pane {
  border-radius: 0.16rem 0.16rem 0.16rem 0.16rem;
  background: #f9fdff;
  box-shadow: 0 0.1rem 0.2rem 0 #5c18df80;
  padding: 0.26rem 0.52rem;
}
.panel-more {
  display: none;
}
.p2 .list-t li,
.p3 .list-t li {
  padding-left: 0.35rem;
}
.p2 .pane .list-t li a,
.p3 .list-t li a {
  font-size: 0.32rem;
  line-height: 0.48rem;
  color: #222222;
}
.p2 .pane .list-t li:before,
.p3 .pane .list-t li:before {
  width: 0.16rem;
  height: 0.16rem;
  margin-top: -0.08rem;
}
.p2 .cjwt {
  border-radius: 0.16rem 0.16rem 0.16rem 0.16rem;
  background: #f9fdff;
  box-shadow: 0 0.1rem 0.2rem 0 #5c18df80;
  padding: 0.38rem 0.38rem 1.15rem 1rem;
  position: relative;
}
.p2 .cjwt li a {
  font-size: 0.32rem;
  line-height: 0.64rem;
  color: #222222;
  position: relative;
}
.p2 .cjwt li a b {
  width: 0.58rem;
  height: 0.48rem;
  border-radius: 0.12rem 0.12rem 0.12rem 0.12rem;
  display: inline-block;
  font-size: 0.28rem;
  line-height: 0.48rem;
  text-align: center;
  color: #4a58ad;
  background: #c1c9ff;
  position: absolute;
  left: -0.7rem;
  top: 0;
}
.p2 .more {
  position: absolute;
  bottom: 0.32rem;
  left: 50%;
  margin-left: -1.2rem;
}
.p2 .more a {
  font-size: 0.32rem;
  color: #4a58ad;
  display: block;
  width: 2.4rem;
  height: 0.6rem;
  line-height: 0.6rem;
  border-radius: 0.3rem;
  background: #e4e4ff;
  text-align: center;
}
.p3 h4 {
  font-size: 0.32rem;
  font-weight: bold;
  line-height: 0.32rem;
  color: #ffffff;
  padding-left: 0.28rem;
  position: relative;
  letter-spacing: 0.02rem;
}
.p3 h4:before {
  content: '';
  width: 0.08rem;
  height: 0.24rem;
  border-radius: 0.04rem 0.04rem 0.04rem 0.04rem;
  background: #ffaf15;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.12rem;
}
.p3 .tab-pane {
  position: relative;
}
.p3 .tab a {
  display: inline-block;
  font-size: 0.28rem;
  height: 0.6rem;
  line-height: 0.6rem;
  padding: 0 0.2rem;
  border-radius: 0.12rem;
  background: #c1c9ff;
  margin-bottom: 0.2rem;
  margin-right: 0.08rem;
  color: #ffffff;
}
.p3 .pane {
}
.p3 .tab a.current {
  color: #4a58ad;
  background: linear-gradient(to left, #fdd0ea, #cdfde6);
}
.p3 .qb {
  font-size: 0.24rem;
  font-weight: bold;
  line-height: 0.24rem;
  color: #ffffff;
  position: absolute;
  top: 0.21rem;
  right: 0.4rem;
}
.p3 .qb i {
  background: url('../images/ehb_ggfw/sjx.png');
  width: 0.22rem;
  height: 0.12rem;
  background-size: 100% 100%;
  display: inline-block;
  position: relative;
  top: -0.02rem;
  margin-left: 0.05rem;
}
