html {
  font-size: 100px;
}

@media (min-width: 828px) {
  body {
    width: 100%;
    margin: 0 auto !important;
  }
}
.header {
  position: relative;
  padding-bottom: 0.97rem;
  background: url('../images/ehb_zhgd/header_bg.png') center center no-repeat;
  height: 5.2rem;
  background-size: 100%;
}

.logo {
  position: relative;
  padding-top: 0.4rem;
}

.logo i {
  position: absolute;
  left: 0.14rem;
  top: 0.44rem;
  width: 0.14rem;
  height: 0.28rem;
  background: url('../images/ehb_robot/jiantouwhite.png') center center no-repeat;
  background-size: 100% 100%;
}
.header .banner {
  width: 4.15rem;
  position: absolute;
  top: 1.3rem;
  left: 0.67rem;
}
.header .banner img {
  display: block;
  width: 100%;
}
.content {
  margin-top: -1.2rem;
  background: #eef5ff;
  padding-bottom: 0.4rem;
}
.grid {
  padding: 0.2rem 0.3rem;
}
.p1cont {
  border-radius: 0.24rem;
  background: linear-gradient(0deg, #deebfb, #ffffff);
  box-shadow: 0 0.03rem 0.1rem 0 #19326414;
  padding: 0.46rem 0.4rem 0.4rem 0.32rem;
  position: relative;
}
.p1 .p1title {
  position: absolute;
  left: 0.32rem;
  top: -0.45rem;
}
.p1cont span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.06rem;
  background: linear-gradient(0deg, #67f4e4, #0085ff);
  text-align: center;
  font-weight: bold;
  font-size: 0.3rem;
  line-height: 0.5rem;
  color: #ffffff;
  margin-right: 0.11rem;
}
.p1cont p {
  font-size: 0.28rem;
  line-height: 0.43rem;
  text-align: justify;
  color: #333333;
  text-indent: 0.56rem;
  font-weight: bold;
  letter-spacing: 0.012rem;
}
.p1cont i {
  display: inline-block;
  width: 0.23rem;
  height: 0.23rem;
  background: url('../images/ehb_zhgd/icon_arrow.png') center center no-repeat;
  background-size: 100% 100%;
  margin-left: 0.1rem;
  position: relative;
  top: 0.03rem;
  cursor: pointer;
}
.grid h3 {
  font-size: 0.36rem;
  line-height: 0.56rem;
  color: #333333;
  font-weight: bold;
  padding-left: 0.3rem;
  position: relative;
  margin-bottom: 0.2rem;
}
.grid h3:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.1rem;
  border-radius: 0.04rem;
  background: url('../images/ehb_zhgd/h3_before.png') center center no-repeat;
  background-size: 100% 100%;
  width: 0.12rem;
  height: 0.26rem;
}
.grid .more {
  font-size: 0.26rem;
  line-height: 0.42rem;
  color: #8e929c;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.21rem;
}
.cont {
  border-radius: 0.2rem;
  background: #ffffff;
  box-shadow: 0 0.03rem 0.1rem 0 #19326414;
  padding: 0.12rem 0.32rem;
  padding-bottom: 0.15rem;
}
.p2 ul li {
  overflow: hidden;
  padding: 0.35rem 0 0.25rem;
  border-bottom: 0.01rem solid #cccccc;
}
.p2 ul li:last-child {
  border-bottom: none;
}
.p2 .left {
  width: calc(100% - 0.48rem - 1.9rem);
  margin-right: 0.48rem;
  float: left;
  position: relative;
  top: -0.07rem;
}
.p2 .left p {
  position: relative;
  margin-top: 0.17rem;
  height: 0.38rem;
}
.p2 .left .from {
  position: absolute;
  left: 0;
  font-size: 0.24rem;
  border-radius: 0.06rem;
  background: #e3f0ff;
  height: 0.38rem;
  line-height: 0.38rem;
  padding: 0 0.13rem;
  color: #007eff;
}
.p2 .left .date {
  font-size: 0.24rem;
  line-height: 0.3rem;
  color: #999999;
  position: absolute;
  right: 0;
}

.p2 .right {
  width: 1.9rem;
  height: 1.3rem;
  float: left;
}
.p2 .left a {
  font-weight: 700;
  font-size: 0.3rem;
  line-height: 0.44rem;
  color: #222222;
  display: -webkit-box; /* 必须结合 -webkit-box */
  -webkit-box-orient: vertical; /* 设置垂直排列子元素 */
  -webkit-line-clamp: 2; /* 限制显示2行 */
  overflow: hidden; /* 隐藏超出内容 */
  text-overflow: ellipsis;
}
.p2 .right img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.08rem;
}
.p3 .left {
  width: 100%;
}
.p3 li b {
  border-radius: 0.06rem;
  background: #0085ff;
  height: 0.38rem;
  line-height: 0.38rem;
  color: #ffffff;
  padding: 0 0.13rem;
}
.p4 .cont {
  padding: 0.4rem 0.3rem;
}
.p4 .row .col-md-6 {
  width: 50%;
  float: left;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.p4 .row {
  margin-left: -0.1rem;
  margin-right: -0.1rem;
}

.p4 .left {
  width: 100%;
  height: 3.14rem;
  background: url('../images/ehb_zhgd/p4left.png') center center no-repeat;
  background-size: 100% 100%;
  border-radius: 0.1em;
  color: #ffffff;
  padding: 0.47rem 0.3rem 0.3rem;
}
.p4 p {
  font-size: 0.32rem;
  line-height: 0.46rem;
  font-weight: bold;
  margin-bottom: 0.12rem;
}
.p4 span {
  font-size: 0.22rem;
  line-height: 0.28rem;
  font-weight: normal;
  display: block;
}
.p4 .right {
  padding: 0.18rem 0.2rem 0.2rem;
  height: 1.48rem;
  color: #ffffff;
}
.p4 .right1 {
  background: url('../images/ehb_zhgd/p4right1.png') center center no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0.18rem;
}
.p4 .right2 {
  background: url('../images/ehb_zhgd/p4right2.png') center center no-repeat;
  background-size: 100% 100%;
}
