html {
  font-size: 100px;
}

@media (min-width: 828px) {
  body {
    width: 10rem;
    margin: 0 auto !important;
  }
}

.header {
  position: relative;
  padding-bottom: 0.5rem;
}

.logo {
  position: relative;
  padding-top: 0.4rem;
}

.logo p {
  font-weight: normal;
  font-size: 0.37rem;
  line-height: 0.37rem;
  text-align: center;
  color: #333333;
}

.logo i {
  position: absolute;
  left: 0.14rem;
  top: 0.44rem;
  width: 0.14rem;
  height: 0.28rem;
  background: url('../images/ehb_robot/jiantoublack.png') center center no-repeat;
  background-size: 100% 100%;
}
.content {
  background: #fafafa;
  padding-top: 0.23rem;
}
.cont {
  border-radius: 0.2rem;
  background: #ffffff;
  box-shadow: 0 0.03rem 0.1rem 0 #19326414;
  padding: 0.12rem 0.32rem;
  padding-bottom: 0.15rem;
}
.p2 ul li {
  overflow: hidden;
  padding: 0.35rem 0 0.25rem;
  border-bottom: 0.01rem solid #cccccc;
}
.p2 .left a {
  font-weight: 700;
  font-size: 0.3rem;
  line-height: 0.44rem;
  color: #222222;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p2 .right img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.08rem;
}
.p3 .left {
  width: 100%;
}
.p3 li b {
  border-radius: 0.06rem;
  background: #0085ff;
  height: 0.38rem;
  line-height: 0.38rem;
  color: #ffffff;
  padding: 0 0.13rem;
}
.p2 .left p {
  position: relative;
  margin-top: 0.17rem;
  height: 0.38rem;
}
.p2 .left .from {
  position: absolute;
  left: 0;
  font-size: 0.24rem;
  border-radius: 0.06rem;
  background: #e3f0ff;
  height: 0.38rem;
  line-height: 0.38rem;
  padding: 0 0.13rem;
  color: #007eff;
}
.p2 .left .date {
  font-size: 0.24rem;
  line-height: 0.3rem;
  color: #999999;
  position: absolute;
  right: 0;
}
.p3 li b {
  border-radius: 0.06rem;
  background: #0085ff;
  height: 0.38rem;
  line-height: 0.38rem;
  color: #ffffff;
  padding: 0 0.13rem;
}
.p2 ul li:last-child {
  border-bottom: none;
}
