.layout-header
  flex none
  height 88px
  padding 13px 25px 13px 25px
  background #ffffff
  box-sizing border-box
  display flex
  z-index 1
  position relative
  border none
  .title
    flex 1
    padding 0 15px
    text-overflow ellipsis
    white-space nowrap
    text-align center
    color #333333
    font-size 36px
    height 62px
    font-weight 400
    line-height @height
    position relative
    .arrow-left
      position absolute
      left 0px
      font-size 42px
  .back
    position absolute
    left 0
    color #222
    font-size 30px
    width 62px
    height 62px
    line-height 62px
    text-align center
