// - 公用样式
.c-flex
  display flex
  justify-content center
  align-items center
.details-division
  height 20px
/* 修改滚动条样式 */
::-webkit-scrollbar
  width 7px
  height 4px
::-webkit-scrollbar-track
  background transparent // rgb(239, 239, 239)
  border-radius 2px
::-webkit-scrollbar-thumb
  background #bfbfbf
  border-radius 10px
::-webkit-scrollbar-thumb:hover
  background #bbb
::-webkit-scrollbar-thumb:window-inactivever
  background #bbb
::-webkit-scrollbar-corner
  background #ccc
/* 修改placeholder默认样式 */
::-webkit-input-placeholder /* WebKit browsers */
  color #C4C6CF
  line-height 40px
:-moz-placeholder /* Mozilla Firefox 4 to 18 */
  color #C4C6CF
  line-height 40px
::-moz-placeholder /* Mozilla Firefox 19+ */
  color #C4C6CF
  line-height 40px
:-ms-input-placeholder /* Internet Explorer 10+ */
  color #C4C6CF
  line-height 40px
