.contrast-popup
  /deep/ .u-popup
    .u-transition
      width 68%
      .u-popup__content
        padding 165rpx 24rpx 0 24rpx
        .popup-header
          .title
            font-size 30rpx
            font-weight bold
          .limit-tips
            font-size 24rpx
            color #909399
        .popup-content
          .product-info
            display flex
            align-items center
            justify-content space-between
            .left-detail
              line-height 52rpx
              .title-name
                font-size 30rpx
                font-weight bold
              .bank-name
                font-size 24rpx
                color #909399
            .right-detele
              padding 6rpx
              border-radius 50%
        .popup-footer
          display flex
          justify-content space-between
          .larger-btn
            width 48%