.mainContainer
  .topImg
    width 100%
  .scrollView
    height 100%
    .content
      padding 30rpx
    .tabContent
      margin-bottom 30rpx
    .textIndex
      text-indent 2em
    .fontWeight
      font-weight bold
    .bannerImg
      width 100%
      display block
    .qrCode
      width 240rpx
    .serviceProductItem
      box-shadow 0 6rpx 18rpx 0 $box-shadow-main
      border 1px solid #D0DFF3
      margin-bottom 30rpx
      border-radius 8rpx
      padding 32rpx
      .topTitle
        color #2C5182
        display flex
        justify-content space-between
        border-bottom 1px dashed $box-shadow-main
        padding-bottom 32rpx
        .titleLeft
          display flex
          align-items center
          view
            font-weight 500
            color #2C5182
          .iconfont
            width 64rpx
            height 64rpx
            line-height 64rpx
            text-align center
            background-color #2C5182
            color #fff
            border-radius 50%
            margin-right 20rpx
            font-size 35rpx
        .custromBtn
          background-color #EBF8FF
          color #2C5182
          height 50rpx
          line-height 50rpx
          padding 0 12px
          font-size 14px
      .bottomContent
        padding-top 32rpx
    .policyFileItem
      border-bottom 1px solid $box-shadow-main
      margin-bottom 30rpx
      padding-bottom 30rpx
      line-height initial
      .doctitle
        font-weight bold
        font-size 30rpx
        margin-bottom 20rpx
      .publisher
        color #909399
        font-size 24rpx
    .policyFileMore
      :deep(.u-loadmore__content__text)
        background #F1F1F1 !important
        width 310rpx
        color #858585 !important
        height 70rpx
        border-radius 35rpx
        text-align center
        line-height 70rpx !important
    .wxQrCodeContent
      display flex
      padding 0 15rpx 30rpx 15rpx
      .wxQrCode
        flex 1
        text-align center
        background #EBF8FF
        margin 0 15rpx
        padding 30rpx
        line-height initial
        border-radius 12rpx
        .qrCodeTitle
          font-size 24rpx
        image
          width 80%
