.mainContainer
  padding-top 25rpx
  .scrollView
    height 100%
    .scroll-box
      height 100%
      .scroll-item
        padding 0 24rpx
        margin 0 0 24rpx 0
        line-height 40rpx
    .no-data-view
      padding 50rpx