.layout-main
  height 100%
  padding-top 120rpx
  background $background-main
  line-height 32rpx
  .main-container
    height calc(100% - 120rpx)
    padding 0 25rpx
    background $white
    border-radius 30rpx 30rpx 0 0
    .product-apply-main
      height calc(100% + 100rpx)
      box-shadow 0 0 22rpx 0 #4285f61c
      border-radius 12rpx 12rpx 0 0
      position relative
      top -100rpx
      .scroll-view
        height 100%
        overflow-x hidden
        overflow-y auto
        .apply-main
          box-shadow 0 0 24rpx 0 #4285f61c
          .header-apply
            height 180rpx
            padding 24rpx
            border-radius 16rpx
            background $active-tab-icon
            display flex
            align-items center
            box-sizing border-box
            image-rendering -moz-crisp-edges
            image-rendering -o-crisp-edges
            image-rendering -webkit-optimize-contrast
            image-rendering crisp-edges
            -ms-interpolation-mode nearest-neighbor
            .logo-img
              width 160rpx
              height 80rpx
              background-repeat no-repeat
              background-size 100%
            .header-title-box
              padding 0 0 0 24rpx
              line-height 48rpx
              .title
                font-weight bold
                font-size 32rpx
              .institutions-name
                font-size 24rpx
          .content-main
            border 2rpx solid #D5E6F6
            border-top none
            background-color #FFFFFF
            .loan-data
              padding 36rpx 32rpx 0 32rpx
              display flex
              flex-wrap wrap
              .c-column
                width 50%
                margin 0 0 24rpx 0
                line-height 36rpx
                .value
                  color $text-main
                  font-size 30rpx
                  font-weight bold
                .label
                  color #909399
                  font-size 24rpx
              .loan-limit-box
                .value
                  color $danger !important
            .product-info
              .product-apply-form
                padding 0 48rpx
                .downBtn
                  padding 0rpx 0 32rpx 0
                  display flex
                  align-items center
                  justify-content center
                  .contract-file
                    color $text-main
                    font-size 26rpx
                    padding 0 12rpx
                  .icon-xiazai
                    color $text-main
          .footer-operation
            padding 0 48rpx 36rpx 48rpx
            /deep/ .u-button
              margin 36rpx 0 0 0 !important
              border none !important
              background $primary
              font-size 32rpx !important
      .contact-popup
        /deep/ .u-popup
          .u-popup__content
            border-radius 16rpx
            .popup-header
              position relative
              padding 48rpx 0 24rpx 0
              text-align center
              .title
                font-size 30rpx
                font-weight bold
              .popup-close
                position absolute
                top 24rpx
                right 24rpx
                background #EBF5FF
                padding 6rpx
                border-radius 50%
                display flex
                align-items center
                justify-content center
                /deep/ .u-icon
                  .u-icon__icon
                    color #CCCCCC !important
                    font-size 24rpx !important
            .contact-form
              padding 0 48rpx
              // .u-form-item__body
              // padding 18rpx 0 0 0 !important
              // // .u-input__content__field-wrapper__field
              // // height 92rpx !important
              // .u-form-item__body__right__message
              // bottom -32rpx !important
            .popup-footer
              padding 48rpx 0 0 0
              .larger-btn
                display flex
                align-items center
                justify-content center
                .u-button
                  width 50%