$text = #333333
$primary = #4C5F99
$danger = #EF3737
$primary-btn = linear-gradient(90deg, #233E73, #132B5B)
$info-btn = #EAEEFA
$text-main = #4C5F99
$text-tips = #ADB0B9
$info-tips = #847855
$header-title-text = #132B5B
$background-main = #132B5B
$active-tab-icon = linear-gradient(270deg, #F9EBB0, #F2D279)
$default-tab-icon = linear-gradient(135deg, #5B6B8A 0%, #132B5B 100%)
$box-shadow-main = #1932641a
$white = #FFFFFF
$default-btn = #88929E
