// swiper 轮播
.hot-recommendation
  .swiper
    height 466rpx
    margin 12rpx 0 0 0
    box-shadow 0 0 28rpx 0 rgba(66, 133, 246, 0.11)
.finance-products
  .swiper
    height 436rpx
    margin 12rpx 0 0 0
    box-shadow 0 0 28rpx 0 rgba(66, 133, 246, 0.11)
// 下拉框
.uni-stat__select
  .uni-select
    padding 0
    border none
    border-bottom 2rpx solid #DADDE7
    .uni-select__input-box
      .uni-select__input-text
        font-size 15px
      .uni-select__input-placeholder
        color #CCCCCC
      .uni-icons
        display none