// 首页轮播
.carousel-container
  .u-swiper
    height 400rpx !important
    .u-swiper__wrapper
      height 400rpx !important
      .u-swiper__wrapper__item
        .u-swiper__wrapper__item__wrapper
          .u-swiper__wrapper__item__wrapper__image
            height 400rpx !important
// swiper 轮播
.hot-recommendation
  .swiper
    position relative
    bottom 14rpx
    height 265rpx
    box-shadow 0 6rpx 18rpx 0 $box-shadow-main
.main-type-product
  .swiper
    height 360rpx
// 下拉框
.uni-stat__select
  .uni-select
    padding 0
    border none
    border-bottom 2rpx solid #DADDE7
    .uni-select__input-box
      .uni-select__input-text
        font-size 15px
      .uni-select__input-placeholder
        color #909399
      .uni-icons
        display none
