// 通用按钮
.u-pinia-btn
  .u-button
    border 1px solid $primary !important
    background $info-btn !important
    color $primary !important
.u-info-btn
  .u-button
    border none !important
    background #F1F1F1 !important
    color #858585 !important
.u-primary-btn
  .u-button
    border none !important
    background $primary-btn !important
    color $white !important
.u-primary
  .u-button
    border none !important
    background $primary !important
    color $white !important
.u-default
  .u-button
    border none !important
    background $default-btn !important
    color $white !important
.u-big-btn
  .u-button
    height 100rpx !important
    font-size 36rpx !important
.u-default-filter-btn
  .u-button
    background $white !important
    border none !important
    color $text-main !important
.u-active-filter-btn
  .u-button
    border none !important
    background $active-tab-icon
    color $info-tips !important
.default-tab-btn
  .u-button
    background $info-btn !important
    border none !important
    border 2rpx solid $primary !important
    color $primary !important
.active-tab-btn
  .u-button
    background $primary-btn !important
    border none !important
    color $white !important
.u-textarea__field
  color #333333 !important
// 搜索框
.search-input
  position relative
  .u-search
    .u-search__content
      border 2rpx solid #D7DAE2 !important
      border-radius 12rpx !important
      background-color #FFFFFF !important
      .u-search__content__input--placeholder, .u-search__content__input
        height 72rpx !important
        background-color #FFFFFF !important
        padding 0 124rpx 0 0
      .u-search__content__close
        position relative
        right 124rpx
  .search-btn
    position absolute
    top 54rpx
    right 60rpx
    font-size 27rpx
    font-weight bold
    color $text-main
    z-index 9
  .search-btn:before
    content ''
    position relative
    top 4rpx
    right 32rpx
    border-right 4rpx solid #E7E7E7
// 输入框
.input-placeholder
  color #909399 !important
// 验证码
.send-code-btn
  .u-button
    border none !important
    background $primary !important
// 表单
.row-form
  :deep(.u-form)
    .u-form-item
      .u-form-item__body
        padding 18rpx 0
        .u-form-item__body__right
          .u-form-item__body__right__content
            .u-form-item__body__right__content__slot
              .u-input
                .u-input__content
                  .u-input__content__field-wrapper
                    .u-input__content__field-wrapper__field
                      border none !important
                  .u-input__content__subfix-icon
                    .event-info
                      color $text-main
              .u-textarea
                padding 16px 16px 16px 0 !important
                .u-textarea__count
                  color #333333 !important
              .c-column-select
                .select
                  .uni-stat__select
                    .uni-select
                      border none !important
                      .uni-select__selector
                        left -8rpx !important
                .suffix-right
                  position absolute
                  right 0
                  top 36rpx
                  color $text-main
                  font-size 28rpx
    .require
      .u-form-item
        .u-form-item__body
          .u-form-item__body__left
            position relative
            .u-form-item__body__left__content__label:before
              content '*'
              position absolute
              top 0
              left -18rpx
              color #FF0000
// 表单
:deep(.u-form)
  .u-form-item
    position relative
    .u-form-item__body
      padding-bottom 40rpx !important
      .u-form-item__body__left
        border-bottom 2rpx solid #dadde7
      .u-form-item__body__right
        border-bottom 2rpx solid #dadde7
        .u-form-item__body__right__content
          .u-form-item__body__right__content__slot
            position relative
            .item-label
              color #333333
              padding 0 0 16rpx 0
              font-size 36rpx
              font-weight bold
            .u-input
              .u-input__content
                .u-input__content__field-wrapper__field
                  height 100rpx
            .captcha-input
              .u-input__content
                .u-input__content__field-wrapper__field
                  height 100rpx
            .mask-click
              position absolute
              bottom 0
              width 100%
              height 72rpx
              z-index 9
    .u-form-item__body__right__message
      margin-left 0 !important
      position absolute
      bottom 0
// 底部tab
:deep(.u-tabbar)
  .u-tabbar__content
    border none
    box-shadow 0 4rpx 40rpx 0 #86868642
    .u-tabbar__content__item-wrapper
      padding-top 20rpx
      line-height 50rpx
      bottom constant(safe-area-inset-bottom)
      bottom env(safe-area-inset-bottom)
      .u-tabbar-item
        line-height 38rpx
        .u-tabbar-item__icon
          .iconfont
            font-size 38rpx
          .default-icon
            background-image $default-tab-icon
            -webkit-background-clip text
            color transparent
          .active-icon
            background-image $active-tab-icon
            -webkit-background-clip text
            color transparent
        .u-tabbar-item__text
          padding 4rpx 0 0 0
          font-size 24rpx !important
.tabs-list
  :deep(.u-tabs)
    margin 30rpx 0
    .u-tabs__wrapper
      .u-tabs__wrapper__scroll-view-wrapper
        .u-tabs__wrapper__scroll-view
          width 89%
          margin-left 44rpx
          background #fff
          .u-tabs__wrapper__nav
            border-radius 16rpx
            padding 18rpx 0
            .u-tabs__wrapper__nav__item
              width 30%
              background #fff
              padding 0
            .u-tabs__wrapper__nav__line
              display none
// u-row
up-row
  .u-row
    width 100%
// form
.upFormBox
  padding 25rpx
  :deep(.u-input__content__field-wrapper__field)
    border none !important
    width 100%
  :deep(.u-form-item__body__left)
    border-bottom 1px solid #DADDE7
    padding-left 20rpx
  :deep(.u-form-item__body__right)
    border-bottom 1px solid #DADDE7
  .require
    .u-form-item
      .u-form-item__body
        .u-form-item__body__left
          position relative
          .u-form-item__body__left__content__label:before
            content '*'
            position absolute
            top 0
            left -18rpx
            color #FF0000
  .bottomBtn
    margin-top 50rpx
// up-modal
.custromModel
  .modalContent
    width 100%
    .modalTitle
      font-size 16px
      padding-bottom 50rpx
    .modalBody
      box-sizing border-box
      max-height 800rpx
    .modalBottom
      display flex
      align-items center
      justify-content space-around
      padding-top 50rpx
      up-button
        flex 1
// step步骤条
.u-steps
  .u-steps-item
    .u-steps-item__wrapper
      .slot-icon
        width 48rpx
        height 48rpx
        border-radius 50%
        display flex
        align-items center
        justify-content center
      .finish-icon
        background $primary
      .error-icon
        background $white
        border 2rpx solid $danger
        color $danger
      .inactive-icon
        background $info-btn
        border 2rpx solid $primary
        color $text-main
    .u-steps-item__content
      margin-left 12px !important
      .u-text
        .u-text__value
          font-size 16px !important
          line-height initial
        .u-text__value--tips
          font-size 12px !important
          line-height initial
.text-right
  text-align right
.text-center
  text-align center
