.mainContainer
  .scrollView
    height 100%
  .upFormBox
    box-sizing border-box
    height 100%
    :deep(.u-input__content__field-wrapper__field)
      text-align right !important
    .formContent
      height calc(100% - 81px + 25rpx)
      display flex
      flex-direction column
      justify-content space-between
      :deep(.bottomBtn)
        padding-bottom 25rpx
