// - 公用样式
@import './commons/common'
@import './vant'
html, body
  height 100%
  width 100%
  font-family Arial, sans-serif // ali-regular
  margin 0 auto
  overflow hidden
#app
  height 100%
  width 100%
  font-size 14px
  color #03091B
  background #fff
#nprogress .bar
  height 1px !important
  background rgb(119, 182, 255) !important // 自定义颜色
