.c-back-top
  position fixed
  bottom 220rpx
  right 20px
  width 70rpx
  height 70rpx
  display flex
  align-items center
  justify-content center
  background linear-gradient(270deg, #F9EBB0, #F2D279)
.circle
  border-radius 50%
.square
  border-radius 8rpx