.zone-scroll-content
  height 100%
  .scroll-view
    height 100%
    .zone-introduce
      ::v-deep .richContent
        padding 24rpx 24rpx 80rpx 24rpx
        box-sizing border-box
        rich-text
          text-indent 2em
          line-height 54rpx
          color rgba(255, 255, 255, 0.7)
    .c-content
      position relative
      bottom 48rpx
      background #FFFFFF
      border-radius 32rpx 32rpx 0 0
      .scroll-box
        padding 36rpx 0
        .scroll-item
          padding 0 24rpx
          margin 0 0 24rpx 0
          line-height 40rpx
