.scroll-view
  height 100%
  :deep(.u-collapse-item__content__text)
    padding 0 15px 0 60rpx !important
    .slot-collapse-item
      font-size 27rpx
      display flex
      justify-content space-between
    .slot-collapse-item:last-child
      padding 44rpx 0 !important
    .slot-collapse-item
      padding 44rpx 0 0 0