:root {
  // 颜色
  --color-default: #222222;
  // 背景
  --background-default: #fafafa;
  // 字体
  --font-size-28: 28px;
  --font-size-36: 36px;
  // 圆角
  --border-radius-none: 0;
  --border-radius-20: 20px;
  --border-radius-24: 24px;
  // gap间距
  --gap-small: 8px;
  --gap-base: 16px;
  --gap-large: 24px;
  --gap-setting: 16px;
}

// 颜色
$colorDefault: var(--color-default);
// 背景
$backgroundDefault: var(--background-default);
// 字体
$FontSize28: var(--font-size-28);
$FontSize36: var(--font-size-36);
// 圆角
$borderRadiusNone: var(--border-radius-none);
$borderRadius20: var(--border-radius-20);
$borderRadius24: var(--border-radius-24);
// gap间距
$gapXS: var(--gap-small);
$gapSM: var(--gap-base);
$gapLG: var(--gap-large);
$gapSetting: var(--gap-setting);
