.c-common-header
  height 80rpx
  display flex
  align-items center
  justify-content space-between
  .c-handle-box
    height 100%
    display flex
    align-items center
    .c-tips
      width 10rpx
      height 40%
      background $active-tab-icon
      border-radius 40rpx
    .c-title
      padding 0 16rpx
      font-weight bold
      font-size 36rpx
  .c-more
    display flex
    align-items center
    color #909399
    .more
      font-size 28rpx
      padding 0 4rpx
    .icon-jiantou
      font-size 32rpx
    .icon-right
      /deep/ .u-icon
        .u-icon__icon
          color #909399
