button
  outline none
/* 修改滚动条样式 */
::-webkit-scrollbar
  width 7px
  height 4px
::-webkit-scrollbar-track
  background transparent // rgb(239, 239, 239)
  border-radius 2px
::-webkit-scrollbar-thumb
  background #bfbfbf
  border-radius 10px
::-webkit-scrollbar-thumb:hover
  background #bbb
::-webkit-scrollbar-thumb:window-inactivever
  background #bbb
::-webkit-scrollbar-corner
  background #ccc
