.header-box-wrap
  height 72px
  background #1B80D2
  display flex
  align-items center
  justify-content space-between
  padding 0 20px
  overflow hidden
  .header-left
    font-size 22px
    font-weight bold
    color #FFFFFF
  .header-right
    color #FFFFFF
    font-size 20px
    cursor pointer
    .operation-group
      display flex
      align-items center
      :deep(.el-button)
        height 32px
      .search
        padding 0 16px
