.tips
  display flex
  align-items center
  justify-content space-between
  .title
    font-weight 600
    font-size 16px
    position relative
    padding-left 20rpx
    &:before
      content ''
      width 8rpx
      height 34.44rpx
      border-radius 4rpx 4rpx 4rpx 4rpx
      background linear-gradient(55deg, #F9EBB0, #F2D279)
      position absolute
      top 16rpx
      left 0
